# CONFIG_MALI_CSF_SUPPORT is not set
CONFIG_RTC_DRV_ISL1208=m
CONFIG_RK3568_TB3N=y
CONFIG_EEPROM_AT24=m
CONFIG_WLAN_VENDOR_REALTEK=y
CONFIG_RTW88=m
CONFIG_RTW88_8822CE=m
CONFIG_ASUS_TB3N_RS9_PCIE=m
CONFIG_BATTERY_CW2015=n
CONFIG_BATTERY_CW2017=n
CONFIG_BATTERY_CW221X=n
CONFIG_BATTERY_RK817=n
CONFIG_BATTERY_RK818=n
CONFIG_CHARGER_BQ25700=n
CONFIG_CHARGER_BQ25890=n
CONFIG_CHARGER_RK817=n
CONFIG_CHARGER_RK818=n
CONFIG_CHARGER_SC89890=n
CONFIG_CHARGER_SGM41542=n
CONFIG_TEST_POWER=n
CONFIG_HWMON=m
CONFIG_SENSORS_PWM_FAN=m
CONFIG_TYPEC_IT5201=m
CONFIG_RK_HEADSET=m
CONFIG_SND_SOC_RK817=m
CONFIG_USB_SERIAL_OPTION=m
CONFIG_USB_SERIAL_WWAN=m
CONFIG_USB_NET_QMI_WWAN=m
CONFIG_LTE=m
CONFIG_LTE_RM310=m
CONFIG_CANFD_ROCKCHIP=m
CONFIG_USB_SERIAL_PL2303=m
CONFIG_DRM_I2C_LT9211=m
