# CONFIG_MALI_CSF_SUPPORT is not set
CONFIG_RTC_DRV_ISL1208=y
CONFIG_RK3568_TB3N=y
CONFIG_EEPROM_AT24=y
CONFIG_ASUS_TB3N_RS9_PCIE=y
CONFIG_BATTERY_CW2015=n
CONFIG_BATTERY_CW2017=n
CONFIG_BATTERY_CW221X=n
CONFIG_BATTERY_RK817=n
CONFIG_BATTERY_RK818=n
CONFIG_BT_RTKBTUSB=y
CONFIG_CHARGER_BQ25700=n
CONFIG_CHARGER_BQ25890=n
CONFIG_CHARGER_RK817=n
CONFIG_CHARGER_RK818=n
CONFIG_CHARGER_SC89890=n
CONFIG_CHARGER_SGM41542=n
CONFIG_TEST_POWER=n
CONFIG_HWMON=y
CONFIG_SENSORS_PWM_FAN=y
CONFIG_TYPEC_IT5201=y
CONFIG_RK_HEADSET=y
CONFIG_SND_SOC_RK817=y
CONFIG_USB_SERIAL_OPTION=y
CONFIG_USB_SERIAL_WWAN=y
CONFIG_USB_NET_QMI_WWAN=y
CONFIG_LTE=y
CONFIG_LTE_RM310=y
CONFIG_CAN=y
CONFIG_CANFD_ROCKCHIP=y
CONFIG_USB_SERIAL_PL2303=y
CONFIG_USB_SERIAL_CH341=y
CONFIG_USB_SERIAL_CP210X=y
CONFIG_BLK_DEV_SR=y
CONFIG_HID_ASUS=y
CONFIG_HID_CORSAIR=y
CONFIG_HID_JABRA=y
CONFIG_DRM_I2C_LT9211=y
CONFIG_BOARDINFO=y
CONFIG_RTL8822CE=m
CONFIG_RTL8852BE=m
CONFIG_RTL8852CE=m
CONFIG_PRINTK_TIME_FROM_ARM_ARCH_TIMER=n
CONFIG_USB_SERIAL_FTDI_SIO=y
