# CONFIG_MALI_CSF_SUPPORT is not set
CONFIG_BOARDINFO=y
CONFIG_EEPROM_AT24=y
CONFIG_HID_ASUS=y
CONFIG_HID_CORSAIR=y
CONFIG_HID_JABRA=y
CONFIG_USB_SERIAL_CH341=y
CONFIG_USB_SERIAL_CP210X=y
CONFIG_BLK_DEV_SR=y
CONFIG_TEST_POWER=n
CONFIG_BATTERY_CW2015=n
CONFIG_BATTERY_CW2017=n
CONFIG_BATTERY_CW221X=n
CONFIG_ROCKCHIP_CHARGER_MANAGER=n
CONFIG_CHARGER_SC8551=n
CONFIG_CHARGER_SC89890=n
CONFIG_CHARGER_BQ25700=n
CONFIG_CHARGER_BQ25890=n
CONFIG_BATTERY_RK817=n
CONFIG_CHARGER_RK817=n
CONFIG_BATTERY_RK818=n
CONFIG_BT_RTKBTUSB=y
CONFIG_CHARGER_RK818=n
CONFIG_CHARGER_SGM41542=n
CONFIG_HWMON=y
CONFIG_SENSORS_GPIO_FAN_TB3=y
CONFIG_DRM_I2C_LT9211=y
CONFIG_TINKER_MCU=y
CONFIG_TINKER_MCU_ILI9881C=y
CONFIG_DRM_I2C_SN65DSI86=y
CONFIG_RTC_DRV_RK808=n
CONFIG_RTC_DRV_ISL1208=y
CONFIG_TOUCHSCREEN_ILITEK=y
CONFIG_RTL8822CE=m
CONFIG_RTL8852BE=m
CONFIG_RTL8852CE=m
